body{
    background-color:#212121;
    color:#fff;
}

h1{
    text-align:center;
}

p{
    text-align:center;
    margin-top:10px;
}

.form{
    text-align: center;
}

/* Styling for the label */
#guess {
    font-size: 16px;
    color: #fff; /* Change color as needed */
}

/* Styling for the input field */
.guessField {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc; /* Change border color as needed */
    border-radius: 4px;
    font-size: 16px;
}

/* Styling for the submit button */
.guessSubmit {
    padding: 6px 25px;
    background-color: #007bff; /* Change background color as needed */
    color: #fff; /* Change text color as needed */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect for the submit button */
.guessSubmit:hover {
    background-color: #0056b3; /* Change hover background color as needed */
}

